<div class="sidebar">
    <mat-nav-list>
      <a mat-list-item href="/home/dashboard" class="list-item-active">
        <mat-icon>speed</mat-icon>
      </a>
      <a mat-list-item href="/home/projectList">
        <mat-icon>list</mat-icon>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="/home/createProject">
        <mat-icon>add</mat-icon>
      </a>
      <a mat-list-item href="/" style="margin-top: 150px">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-nav-list>
  </div>
