<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
            Online Project Management
    </div>
    <div class="page__content shadow p-3 position-relative">
       
           
              <h5 class="text-muted text-center">Login to get started</h5>
              <!-- <form>
                <div class="form-group mt-5">
                  <label for="Email" class="text-muted" for="Email1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="Email"  
                    placeholder="Enter email"  [(ngModel)]="username"
                     required
                  />
                   </div>
                <div class="form-group mt-4">
                  <label class="text-muted" for="Password1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="Password"
                    placeholder="Password"
                    required
                  />
                </div>
        
                <a href="#" class="float-right">Forget Password</a>
                <br />
                <button type="submit" class="loginbutton">Login</button>
              </form> -->



              <div class="form-group mt-5">
                <label for="Email" class="text-muted" for="Email1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="Email"  
                  placeholder="Enter email"  [(ngModel)]="username"
                   required
                />
                
                 </div>
                 <div class="form-group mt-4">
                  <label class="text-muted" for="Password1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="Password"
                    placeholder="Password"  [(ngModel)]="password"
                    required
                  />
                </div>
                
                <a href="/forgetpassword" class="float-right">Forget Password</a>
              <div class="mb-3">
                <button  class="loginbutton" (click)="login()"> login</button>
              </div>
            

    </div>
  </div>
