
<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
           Forgot Password
    </div>
    <div class="page__content shadow p-3 position-relative">

    <div class="form-group row mt-4">
        <label for="inputEmail3" class=" form-label">Email</label>
        <div class="col-sm-20">
          <input type="email" class=" form-control " id="inputEmail3" placeholder="Email"
          [(ngModel)]="username">
        </div>
      </div>
     
      <!-- <div class="form-group row mt-4">
        <label for="inputpassword" class="form-label">New Password</label>
        <div class="col-sm-20">
          <input type="password" class="form-control" id="inputpassword" placeholder="New password"
          [(ngModel)]=" newPassword">
        </div>
      </div> -->
      <div class="form-group row mt-3">
      <label for="inputpassword" class="form-label">New Password</label>
      <div class="col-sm-20">
        <input class="input-box" matInput [type]="hide ? 'password' : 'text'" placeholder=" Enter New Password"  
         [(ngModel)]=" newPassword">
        <button  class= "icon-size"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
        [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
    </div>




    
    








   
      <div class="mb-2">
        <button  class="forgetpassword" (click)="forgotpassword()"> Forgot Password</button>
      </div>

<a mat-list-item href="/" style="margin-top: 150px">
        <mat-icon>exit_to_app</mat-icon>


