<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        
        <a mat-list-item href="/home/dashboard" class="list-item-active">
            <mat-icon>keyboard_arrow_left</mat-icon>
       </a>
        Project Listing</div>
    <div class="page__content shadow p-3 position-relative">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Search </mat-label>
                <input matInput />
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
              <mat-label class="sortby"> Sort By</mat-label>
              <mat-form-field appearance="fill" >
                <mat-label>priotity</mat-label>
                <mat-select>
                  <mat-option >Hign</mat-option>
                  <mat-option >Midlle</mat-option>
                  <mat-option >Low</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <table class="table">
                <thead>
                 <tr>
                     <th scope="col">Project Name</th>
                     <th scope="col">Reason</th>
                     <th scope="col">Type</th>
                     <th scope="col">Division</th>
                     <th scope="col">Category</th>
                     <th scope="col">Priority</th>
                     <th scope="col">Department</th>
                     <th scope="col">Location</th>
                     <th scope="col">Status</th>
                     <th colspan="3">Action</th>
                     
                 </tr>
                </thead>
                <tbody *ngFor="let obj of allProject">
                    <tr>
                    <td><b>{{obj.projectname}}</b><br> {{obj.startdate | date : "mediumDate"}}  to  {{obj.enddate | date : "mediumDate"}}</td>
                    <td>{{obj.reason}}</td>
                    <td>{{obj.type}}</td>
                    <td>{{obj.divison}}</td>
                    <td>{{obj.category}}</td>
                    <td>{{obj.priority}}</td>
                    <td>{{obj.department}}</td>
                    <td>{{obj.location}}</td>
                    <td><b>{{obj.status}}</b></td>
                    <td><button id="startbtn"  class="startbtn button" (click)="setstatus(obj,'Running')" [disabled]="obj.status==='Cancelled' || obj.status==='closed'">Start</button></td>
                    <td><button id="closebtn" class="btn btn-outline-primary startbtn" (click)="setstatus(obj,'closed')">close</button></td>
                    <td><button id="cancelbtn"  class="btn btn-outline-primary startbtn" (click)="setstatus(obj,'Cancelled')">Cancel</button></td>
                </tr>
                </tbody>
              </table>

        </div>
     </div>
    </div>
